@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #963f01;
  --light-one: #fff;
  --light-two: #f9fafb;
  --background-image: url("../img/background.png");
}

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 900%;
}

img {  
  user-zoom: none;  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 2rem;
  text-align: center;
  color: var(--light-two);
  line-height: 1.6;
}

.column-1 {
  margin-right: 1.5rem;
}

.column-2 {
  margin-left: 1.5rem;
}

.image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-index {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.points {
  opacity: 0.3;
  position: absolute;
}

.section {
  padding: 7rem 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.title {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  line-height: 1;
  font-size: 2.8rem;
  margin-bottom: 0.6rem;
}

.title:before {
  content: attr(data-title);
  display: block;
  margin-bottom: 0.4rem;
  color: var(--main-color);
  font-size: 1.15rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.title:after {
  content: "";
  position: absolute;
  width: 90px;
  height: 5px;
  border-radius: 3px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.section-header .text {
  max-width: 600px;
  margin: 0 auto;
}

.title-sm {
  color: var(--dark-one);
  font-weight: 600;
  font-size: 1.6rem;
}

.points-sq {
  width: 210px;
}

/* End Genral Styles */

/* Header */

header {
  background-image: url("../img/background.png");
  background-repeat: repeat-y;
}

nav {
  width: 100%;
  position: relative;
  z-index: 50;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
}

.logo {
  width: 300px;
  height: 100px;
  display: flex;
}

.links ul {
  display: flex;
  overflow: hidden;
  float: left;
}

.links a {
  display: inline-block;
  padding: 0.9rem 1.2rem;
  color: var(--dark-one);
  font-size: 1.05rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
  transition: 0.3s;
}

.links a.active {
  background-color: var(--main-color);
  color: var(--light-one);
  border-radius: 2rem;
  font-size: 1rem;
  padding: 0.9rem 2.1rem;
  margin-left: 1rem;
}

.links a:hover {
  color: var(--main-color);
}

.links a.active:hover {
  color: var(--light-one);
  background-color: #b64201;
}

.links{
  float:right;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: 2.1rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--dark-one);
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

nav.open .links {
  transform: translateX(0);
}

.header-content .container.grid-2 {
  grid-template-columns: 2.5fr 3.5fr;
  min-height: calc(100vh - 6rem);
  padding-bottom: 2.5rem;
  text-align: left;
}

.header-title {
  font-size: 3.8rem;
  line-height: 0.8;
  color: var(--dark-one);
}

.header-content .text {
  margin: 2.15rem 0;
}

.letters {
  position: absolute;
  width: 13.5%;
  top: -5px;
  left: 15px;
  opacity: 0.06;
}

/* End header */

/* Back to Top */

.contain button{
  display: none;
  height: 40px;
  width: 40px;
  position: fixed;
  right: 20px;
  bottom: 40px;
  background: #db571a;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 20%;
  cursor: pointer;
}

.contain button i{
  text-align: center;
  font-size: 20px;
  color: white;
}

/* End Back to Top */

/* Timeline */

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins', sans-serif;
}

h1 {
	color: white;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	text-align: center;
}

.highlight {
  background-image: linear-gradient(to right,
  #b64201, #cc6d1a, #db571a);
  border-radius: 6px;
  padding: 3px 6px;
}

.timeline-section{
	background-image: url("../img/background.png");
  background-repeat: repeat-y;
	min-height: 100vh;
	padding: 100px 15px;
}

.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(50% - 1px);
}

.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}

.timeline-item:last-child{
	margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
	text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
	height: 16px;
	width: 16px;
	background-color: #db571a;
	position: absolute;
	left: calc(50% - 8px);
	border-radius: 50%;
	top:10px;
}

.timeline-date{
	font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: bold;
}

.timeline-content{
  background-color: #2f363e;
	padding: 30px;
	border-radius: 5px;
}

.timeline-content h3{
  font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}

.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

/* End Timeline */

/* Responsive */

@media(max-width: 767px){
	.timeline-items::before{
		left: 7px;
	}

	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}

	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}

	.timeline-dot{
		left:0;
	}

}

/* End Responsive */

/* Image Gallery */

.gallery-section{
	background-image: url("../img/background.png");
  background-repeat: repeat-y;
	min-height: 100vh;
	padding: 100px 15px;
}

.gallery-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery-wrap {
  position: relative;
  margin: 1.3rem 0.5rem;
}

.gallery-card {
  width: 420px;
  height: 500px; 
  overflow: hidden;
  background-color: var(--light-two);
  transition: 0.3s;
  position: relative;
}

.gallery-card:after {
  content: "";
  position: absolute;
  width: 1100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: #db571a;
  transition: 0.3s;
}

.gallery-image {
  width: 100%;
  height: 270px;
  position: relative;
}

.gallery-image img {
  position: absolute;
  height: 105%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.gallery-content {
  padding: 2.1rem 2.2rem 2.7rem 2.2rem;
}

.gallery-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.gallery-info h5 {
  color: var(--main-color);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: 2px;
}

.gallery-date {
  margin-right: 2rem;
}

.gallery-user i {
  margin-right: 0.2rem;
  font-size: 1rem;
}

.gallery-text {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

.gallery-card:hover {
  transform: translateY(-15px);
}

.gallery-card:hover:after {
  height: 8px;
}

.gallery-card:hover .gallery-image img {
  transform: translate(-50%, -50%) scale(1.15);
}

.gallery .points {
  top: 72%;
  right: 71%;
  opacity: 0.15;
}

.btn {
  background-color: #db571a ;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;
}

.btn {
  padding: 10px 24px;
  border-radius: 8px;
}

/* End Image Gallery */

/* Footer */

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p{
  max-width: 500px;
  margin: 20px auto;
  line-height: 28px;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(200px);
}

.footer-content a{
  max-width: 500px;
  margin: 20px auto;
  line-height: 40px;
  font-size: 30px;
  color: #db571a;
}

/* End Footer */